[Desktop Entry]
Name=Desktop Settings
Comment=Fine-tune desktop settings
Exec=xentadesktop
Icon=user-desktop
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;XFCE;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=false
OnlyShowIn=MATE;XFCE;
